.toggle-2 {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
}

.toggle-2__input {
  display: none;
}

.toggle-2__button {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1rem;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
  background-color: #d2d2d2;
  border: solid 1px #d2d2d2;
  border-radius: 20px;

  width: 85px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3 ease;
}

.toggle-2__button--icon {
  height: 16px;
  width: auto;
  padding: 0 12px;
}

.toggle-2__button::before {
  position: absolute;
  top: -1px;
  left: -5px;
  content: "";

  display: inline-block;
  height: 43px;
  width: 43px;

  background: #5a5a5a;
  border-radius: 100%;

  transition: all 0.3s ease;
}

.toggle-2__input:checked + .toggle-2__button {
  background: #fff;
  border: solid 1px #fff;
}
.toggle-2__input:checked + .toggle-2__button::before {
  content: "";
  left: 45px;
  background-color: #ffc700;
}
